{
    "endOfLine": "crlf",
    "trailingComma": "all",
    "semi": true,
    "tabWidth": 4,
    "singleQuote": false,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "useTabs": false,
    "parser": "typescript",
    "experimentalTernaries": true,
    "singleAttributePerLine": true
}
